<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

    <div class="container">
        <h2>Login</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST" action="{% url 'login_view' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" id="password" placeholder="Enter Password" required>

            <div class="show-password">
                <input type="checkbox" id="showPassword">
                <label for="showPassword">Show Password</label>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>

</body>

<script>
    // Pure JS logic to toggle password visibility
    document.getElementById("showPassword").addEventListener("change", function() {
        let passwordField = document.getElementById("password");
        passwordField.type = this.checked ? "text" : "password";
    });
</script>
</html>